// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.add-list-content > img.add-list {
  height: 25px;
}

th.list-visibility, td.list-visibility {
  text-align: center;
}

img.list-visibility {
  height: 23px;
}

a.favorite-list-status img {
  height: 25px;
}