// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.add-task-content > a.add-task:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

div.add-task-content > img.add-task {
  height: 25px;
}

th.task-status, td.task-status {
  text-align: center;
}

td.task-status:hover {
  cursor: pointer;
}

td.task-status img {
  height: 15px;
}
